:root {
    --button-color: #12308a;
    --button-color-hover: #102669;
    --header-line-color: #113294;
}
button:focus {
    border: none;
    outline: none;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    background-color: #ffffff;
    padding-top: 77.25px;
    padding-bottom: 5rem;
}
.main-section1{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
}
.main-section2{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
    margin-top: 2rem;
}
.enrolltable{
    width: 100%;
    margin-bottom: 1rem;
}
.table-button{
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.50em;
    outline: none;
}
.table-button:hover{
    background-color: var(--button-color-hover);
}
.main-section3{
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    margin-top: 5rem;
}
.dashboard-header{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
    align-self: start;
    justify-self: start;
    margin-bottom: 2rem;
}
.dashboard-bans-header{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
    margin-bottom: 2rem;
}
.dashboard-bans{
    grid-column: 3 / 9;
    grid-row: 3 / 3;
    align-self: start;
    justify-self: center;
    text-align: center;
    margin-bottom: 2rem;
}
.bans-card{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.bans-card-data{
    font-weight: bold;
    font-size: 30px;
    color: var(--header-line-color);
    
}
.dashboard-screeningPlot-container{
    grid-column: 3 / 9;
    grid-row: 4 / 4;
    margin-bottom: 2rem;
}
.dashboard-enrollPlot-container{
    grid-column: 3 / 9;
    grid-row: 5 / 5;
    margin-bottom: 2rem;
}
.dashboard-countryScreenPlot{
    grid-column: 3 / 6;
    grid-row: 6 / 6;
    margin-bottom: 2rem;
    min-height: 40vh;
}

.dashboard-countryScreenFailPlot{
    grid-column: 6 / 9;
    grid-row: 6 / 6;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.dashboard-countryEnrollPlot{
    grid-column: 3 / 6;
    grid-row: 7 / 7;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.dashboard-countryEnrollRatePlot{
    grid-column: 6 / 9;
    grid-row: 7 / 7;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.tableCell{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.error {
    color: rgb(184, 0, 0);
    font-weight: bold;
 }
.hidden{
    display: none;
}
.enrollmentfield{
    width: 100%;
}
/* Select-Pure Autocomplete & Multi-Select CSS */
.select-wrapper {
    margin: 150px auto;
    max-width: 600px;
    width: calc(100% - 40px);
  }

.select-pure__select {
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: left;
    min-height: 35px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
}

.select-pure__options {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 5;
}

.select-pure__select--opened .select-pure__options {
    display: block;
}

.select-pure__option {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: auto;
    line-height: 25px;
    padding: 10px;
}

.select-pure__option--selected {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.select-pure__option--hidden {
    display: none;
}

.select-pure__selected-label {
    background: #5e6264;
    border-radius: 4px;
    color: #fff;
    cursor: initial;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
    margin-right: 0;
}

.select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
}

.select-pure__selected-label i:hover {
    color: #e4e4e4;
}

.select-pure__autocomplete {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}
@media screen and (max-width: 480px) {

}