:root {
    --button-color: #12308a;
    --button-color-hover: #102669;
    --header-line-color: #113294;
}
button:focus {
    border: none;
    outline: none;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    background-color: #ffffff;
    padding-top: 77.25px;
    padding-bottom: 5rem;
}
.main-section1{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
}
.main-section2{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
    margin-top: 2rem;
}
.enrolltable{
    width: 100%;
    margin-bottom: 1rem;
}
.countryCol{
    width: 34%;
}
.startCol{
    width: 13%;
}
.stopCol{
    width: 13%;
}
.sfCol{
    width: 20%;
}
.enrollCol{
    width: 20%;
}
.xCol{
    width: 5%;
}
.enrollmentInputDiv{
    display:inline-block; 
    width: 20%;
}
.table-button{
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.50em;
    outline: none;
}
.table-button:hover{
    background-color: var(--button-color-hover);
}
.loadingWheel{
    display: block;
    float: right;
    margin-right: 15px;
    border: 5px solid #d1d1d1; /* Light grey */
    border-top: 5px solid #0300b3; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 3s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main-section3{
    grid-column: 1 / 11;
    grid-row: 3 / 3;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    margin-top: 5rem;
}
.dashboard-header{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
    align-self: start;
    justify-self: start;
    margin-bottom: 2rem;
    width: 100%;
}
.dashboard-bans-header{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
    margin-bottom: 2rem;
}
.dashboard-bans{
    grid-column: 3 / 9;
    grid-row: 3 / 3;
    align-self: start;
    justify-self: center;
    text-align: center;
    margin-bottom: 2rem;
}
.bans-card{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.bans-card-data{
    font-weight: bold;
    font-size: 30px;
    color: var(--header-line-color);
    
}
.dashboard-screeningPlot-container{
    grid-column: 3 / 9;
    grid-row: 4 / 4;
    margin-bottom: 2rem;
}
.dashboard-enrollPlot-container{
    grid-column: 3 / 9;
    grid-row: 5 / 5;
    margin-bottom: 2rem;
}
.dashboard-countryScreenPlot{
    grid-column: 3 / 6;
    grid-row: 6 / 6;
    margin-bottom: 2rem;
    min-height: 40vh;
}

.dashboard-countryScreenFailPlot{
    grid-column: 6 / 9;
    grid-row: 6 / 6;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.dashboard-countryEnrollPlot{
    grid-column: 3 / 6;
    grid-row: 7 / 7;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.dashboard-countryEnrollRatePlot{
    grid-column: 6 / 9;
    grid-row: 7 / 7;
    margin-bottom: 2rem;
    min-height: 40vh;
}
.topButton{
    grid-column: 8 / 9;
    grid-row: 8 / 8;
    justify-self: center;
    align-self: end;
    border-style: none;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 3px 3px 6px #b9b9b9;
    transition: transform ease 250ms;
    cursor: pointer;
}
.topButton:hover{
    transform: scale(1.1);
}
.downloadButton{
    grid-column: 3 / 5;
    grid-row: 8 / 8;
    justify-self: start;
    align-self: end;
}
.tableCell{
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.error {
    color: rgb(184, 0, 0);
    font-weight: bold;
 }
.hidden{
    display: none;
}
.enrollmentfield{
    width: 100%;
}
/* Select-Pure Autocomplete & Multi-Select CSS */
.select-wrapper {
    margin: 150px auto;
    max-width: 600px;
    width: calc(100% - 40px);
  }

.select-pure__select {
    align-items: center;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: left;
    min-height: 35px;
    padding: 5px 10px;
    position: relative;
    transition: 0.2s;
    width: 100%;
}

.select-pure__options {
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    color: #363b3e;
    display: none;
    left: 0;
    max-height: 221px;
    overflow-y: scroll;
    position: absolute;
    top: 32px;
    width: 100%;
    z-index: 5;
}

.select-pure__select--opened .select-pure__options {
    display: block;
}

.select-pure__option {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
    height: auto;
    line-height: 25px;
    padding: 10px;
}

.select-pure__option--selected {
    color: #e4e4e4;
    cursor: initial;
    pointer-events: none;
}

.select-pure__option--hidden {
    display: none;
}

.select-pure__selected-label {
    background: #5e6264;
    border-radius: 4px;
    color: #fff;
    cursor: initial;
    display: inline-block;
    margin: 5px 10px 5px 0;
    padding: 3px 7px;
}

.select-pure__selected-label:last-of-type {
    margin-right: 0;
}

.select-pure__selected-label i {
    cursor: pointer;
    display: inline-block;
    margin-left: 7px;
}

.select-pure__selected-label i:hover {
    color: #e4e4e4;
}

.select-pure__autocomplete {
    background: #f9f9f8;
    border-bottom: 1px solid #e4e4e4;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    padding: 10px;
    width: 100%;
}
@media screen and (max-width: 480px) {
    .main-grid{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
        width: 100%;
        background-color: #ffffff;
        padding-top: 77.25px;
        padding-bottom: 2rem;
    }
    .main-section1{
        grid-column: 1 / 11;
        grid-row: 1 / 1;
        padding: 1rem;
    }
    .main-section2{
        grid-column: 1 / 11;
        grid-row: 2 / 2;
        margin-top: 1rem;
        padding: 1rem;
        font-size: 12px;
    }
    .enrolltable{
        width: 100%;
        margin-bottom: 1rem;
    }
    .enrollmentInputDiv{
        display:inline-block; 
        width: 40%;
    }
    .autocomplete-select{
        width: 50px;
    }
    .country{
        width: 50px;
    }
    .startdate{
        width: 70px;
    }
    .enddate{
        width: 70px;
    }
    .sfrate{
        width: 50px;
    }
    .enrollmentrate{
        width: 50px;
    }
    .xCol{
        width: 5px;
    }
    .table-button{
        background-color: var(--button-color);
        border-radius: 5px;
        border: none;
        color: white;
        text-align: center;
        vertical-align: middle;
        padding: 0.50em;
        outline: none;
    }
    .table-button:hover{
        background-color: var(--button-color-hover);
    }
    .loadingWheel{
        border: 5px solid #d1d1d1; /* Light grey */
        border-top: 5px solid #0300b3; /* Blue */
        width: 30px;
        height: 30px;
    }
    .main-section3{
        grid-column: 1 / 11;
        grid-row: 3 / 3;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
    }
    .dashboard-header{
        grid-column: 1 / 11;
        grid-row: 1 / 1;
        align-self: start;
        justify-self: start;
        margin-bottom: 0rem;
    }
    .dashboard-header h2{
        font-size: 24px;
    }
    .dashboard-bans-header{
        grid-column: 1 / 11;
        grid-row: 2 / 2;
        margin-bottom: 2rem;
    }
    .dashboard-bans{
        grid-column: 1 / 11;
        grid-row: 3 / 3;
        align-self: start;
        justify-self: center;
        text-align: center;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1rem;
        column-gap: 2rem;
    }
    .bans-card{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: none;
    }
    .startCard{
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: center;
    }
    .stopCard{
        grid-column: 2 / 3;
        grid-row: 1 / 1;
        justify-self: center;
        align-self: center;
    }
    .sfCard{
        grid-column: 1 / 2;
        grid-row: 2 / 2;
        justify-self: center;
        align-self: center;
    }
    .screenedCard{
        grid-column: 2 / 3;
        grid-row: 2 / 2;
        justify-self: center;
        align-self: center;
    }
    .enrolledCard{
        grid-column: 1 / 2;
        grid-row: 3 / 3;
        justify-self: center;
        align-self: center;
    }
    .enrollRateCard{
        grid-column: 2 / 3;
        grid-row: 3 / 3;
        justify-self: center;
        align-self: center;
    }
    .bans-card-data{
        font-weight: bold;
        font-size: 20px;
        color: var(--header-line-color);
        
    }
    .dashboard-screeningPlot-container{
        grid-column: 1 / 11;
        grid-row: 4 / 4;
        margin-bottom: 2rem;
    }
    .dashboard-enrollPlot-container{
        grid-column: 1 / 11;
        grid-row: 5 / 5;
        margin-bottom: 2rem;
    }
    .dashboard-countryScreenPlot{
        grid-column: 1 / 11;
        grid-row: 6 / 6;
        margin-bottom: 2rem;
        min-height: 40vh;
    }
    
    .dashboard-countryScreenFailPlot{
        grid-column: 1 / 11;
        grid-row: 7 / 7;
        margin-bottom: 2rem;
        min-height: 40vh;
    }
    .dashboard-countryEnrollPlot{
        grid-column: 1 / 11;
        grid-row: 8 / 8;
        margin-bottom: 2rem;
        min-height: 40vh;
    }
    .dashboard-countryEnrollRatePlot{
        grid-column: 1 / 11;
        grid-row: 9 / 9;
        margin-bottom: 2rem;
        min-height: 40vh;
    }
    .tableCell{
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
    .error {
        color: rgb(184, 0, 0);
        font-weight: bold;
     }
    .hidden{
        display: none;
    }
    .topButton{
        grid-column: 8 / 11;
        grid-row: 10 / 10;
        justify-self: center;
        align-self: center;
    }
    .downloadButton{
        grid-column: 1 / 5;
        grid-row: 10 / 10;
        justify-self: start;
        align-self: center;
    }
    .enrollmentfield{
        width: 100%;
    }
    .select-pure__select {
        font-size: 12px;
        font-weight: 400;
    }
}