:root {
    --button-color: #183eb3;
    --button-color-hover: #113294;
    --header-line-color: #113294;
}
button:focus {
    border: none;
    outline: none;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    background-color: #ffffff;
    padding-top: 60px;

}
.main-section1{
    grid-column: 1 / 11;
    grid-row: 1 / 1;
    height: 70vh;
    background-image: url('/static/images/home.png');
    background-position: center center;
    z-index: 1;
}
.home-h1{
    font-size: 50px;
    color: var(--header-line-color);
}
.home-h3{
    color: #000000;
}
.main-section1-text{
    grid-column: 3 / 7;
    grid-row: 1 / 1;
    color: #000000;
    justify-self: start;
    align-self: center;
    text-align: left;
    z-index: 3;
    font-weight: 400;
    width: 80%;
}
.header-text{
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.home-button{
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: 0.50em;
    outline: none;
}
.home-button:hover{
    background-color: var(--button-color-hover);
}
.main-section2{
    grid-column: 1 / 11;
    grid-row: 2 / 2;
    min-height: 40vh;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;

}
.main-section2-header{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
    justify-self: center;
    margin-bottom: 2rem;
}
.main-section2-projects{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    row-gap: 2rem;
}
.project{
    grid-column: 1 / 2;
    grid-row: auto;
    width: 1fr;
    border-style: none;
    border-radius: 20px;
    box-shadow: 3px 3px 8px #adadad;
    padding: 1.5rem;
    transition: transform ease 250ms;
    text-align: center;
}
.project:hover{
    transform: scale(1.03);
}
@media screen and (max-width: 480px) {
    .main-grid{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
        width: 100%;
        background-color: #ffffff;
        padding-top: 60px;
    }
    .main-section1{
        grid-column: 1 / 11;
        grid-row: 1 / 1;
        height: 50vh;
        background-image: url('/static/images/home.png');
        background-position: 60% 0%;
        background-size: 250%;
        z-index: 1;
    }
    .main-section1-text{
        grid-column: 1 / 10;
        grid-row: 1 / 1;
        color: #000000;
        justify-self: start;
        align-self: center;
        text-align: left;
        z-index: 3;
        font-weight: 600;
        padding: 2rem;
        width: 100%;
    }
    .header-text{
        line-height: 1.1rem;
    }
    .home-h1{
        font-size: 30px;
        color: var(--header-line-color);
    }
    .main-section2-header{
        grid-column: 1 / 11;
        grid-row: 1 / 1;
        justify-self: center;
        margin-bottom: 2rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .main-section2-projects{
        grid-column: 1 / 11;
        grid-row: 2 / 2;
        justify-self: center;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .home-h3{
        font-size: 16px;
    }
    .main-section2{
        grid-column: 1 / 11;
        grid-row: 2 / 2;
        min-height: none;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
        width: 100%;
    
    }
}