:root {
    --button-color: #762acc;
    --button-color-hover: #671eb9;
    --header-line-color: #5519c5;
}
button:focus {
    border: none;
    outline: none;
}
.main-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    width: 100%;
    background-color: #ffffff;
    padding-top: 77.25px;
}
.main-section1{
    grid-column: 3 / 9;
    grid-row: 1 / 1;
}
.main-section2{
    grid-column: 3 / 9;
    grid-row: 2 / 2;
}

@media screen and (max-width: 480px) {

}