{% extends "layout.html" %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='enrollforecast.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}    
{% block content2 %}
<div class="main-grid">
    <div class="main-section1">
        <hr class="header-line">
        <h2><b>Clinical Trial Enrollment Forecasting</b></h2><br>

        This enrollment forecast tool allows users to input a variety of parameters to calculate when target enrollment will be met for a clinical trial:<br><br>
        <ul>
            <li><b>Target Enrollment:</b> The study's overall enrollment target</li>
            <li><b>Current Enrollment <i>(Optional)</i>:</b> The number of subjects currently enrolled on the study</li>
            <li><b>Country:</b> Add a row for each activated or proposed country for the study</li>
            <li><b>Start Date:</b> Enter the start date for the country to start screening and enrolling</li>
            <li><b>Stop Date <i>(Optional)</i>:</b> Enter a stop date for the country to stop screening and enrolling</li>
            <li><b>Screen Fail %:</b> Enter in the country's screen fail percentage as a decimal between 0 and 1 (e.g., 0.25 for a 25% Screen Fail %)</li>
            <li><b>Enrollment Rate:</b> Enter the country's enrollment rate defined as enrolled subjects per country per month (e.g., 2.5)</li>
        </ul>
        Additional countries can be added by clicking the 'Add Row' button. Remove countries by clicking 'Remove Row' or the 'X' button next to the row.<br><br>
        Press the 'Click to Run' button below and the enrollment forecast will calculate when target enrollment will be achieved (if possible), total screened, total enrolled, global screen fail %, global enrollment rate, and more.
    </div>
    <div class="main-section2">
        <form class="" id="enrollform" method="POST" action="">
            <div class="form-group enrollmentInputDiv">
                <label class="form-control-label form-css" for="targetenrollment"><b>Target Enrollment:</b></label>
                <input class="form-control form-control-sm enrollmentfield" id="targetenrollment" name="targetenrollment" required step="1" min="1" type="number" value="" onchange="minCurrentEnroll(this.value)">
            </div>
            <div class="form-group enrollmentInputDiv" style="margin-left: 10px;">
                <label class="form-control-label form-css" for="currentenrollment"><b>Current Enrollment:</b></label>
                <input class="form-control form-control-sm enrollmentfield" id="currentenrollment" name="currentenrollment" step="1" min="0" type="number" value="">
            </div>
            <table class="enrolltable" id="enrolltable">
                <colgroup>
                    <col class="countryCol" span="1">
                    <col class="startCol" span="1">
                    <col class="stopCol" span="1">
                    <col class="sfCol" span="1">
                    <col class="enrollCol" span="1">
                    <col class="xCol" span="1">
                </colgroup>
                <thead>
                    <tr>
                        <th>Country</th>
                        <th>Start Date</th>
                        <th>Stop Date</th>
                        <th id="sfHeader">Screen Fail %</th>
                        <th id="enrollHeader">Enrollment Rate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tablebody">
                    <tr id="row-1">
                        <td class="tableCell">
                            <span class="autocomplete-select" id="autocomplete-1"></span>
                            <input class="country" required type="text" name="country-1" id="country-1" style="display:none">
                        </td>
                        <td class="tableCell">
                            <input class="form-control-sm form-control startdate" id="startdate-1" name="startdate-1" onchange="minEndDate(this.id)" required type="month" value="">
                        </td>
                        <td class="tableCell">
                            <input class="form-control form-control-sm enddate" id="enddate-1" name="enddate-1" type="month" value="">
                        </td>
                        <td class="tableCell">
                            <input class="form-control form-control-sm sfrate" id="sfrate-1" min="0" max="0.9999" name="sfrate-1" required step="0.0001" type="number" value="">
                        </td>
                        <td class="tableCell">
                            <input class="form-control form-control-sm enrollmentrate" id="enrollmentrate-1" min="0.0001" name="enrollmentrate-1" required step="0.0001" type="number" value="">
                        </td>
                        <td class="tableCell">
                            <button class="xCol" type="button" id="removebutton-1" onclick="removeThisRow(this.id)" style="visibility: hidden;outline: none; border: none;background-color: rgba(0,0,0,0)"><i class="fas fa-times xbutton"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="table-button" type="button" onclick="addRow()">Add Row</btn>
            <button class="table-button" type="button" onclick="removeRow()" style="margin-left: 20px;">Remove Row</btn>
            
            <button class="table-button" type="button" onclick="compileData()" style="float: right;">Click to Run</button>
            <div class="loadingWheel hidden" id="loadingWheel"></div>
        </form>
        
    </div>
    <div class="hidden main-section3" id="section3">
        <div class="dashboard-header">
            <hr class="header-line">
            <h2><b>Enrollment Forecast Results</b></h2>
        </div>
        <div class="dashboard-bans-header">
            <hr class="header-line">
            <h4>Global Metrics</h4>
        </div>
        <div class="dashboard-bans">
            <div class="bans-card startCard">
                <div class="bans-card-data">
                    <span id="globalStart"></span>
                </div>
                Start Date
            </div>
            <div class="bans-card stopCard">
                <div class="bans-card-data">
                    <span id="globalStop"></span>
                </div>
                Stop Date
            </div>
            <div class="bans-card sfCard">
                <div class="bans-card-data">
                    <span id="globalSFRate"></span>
                </div>
                Screen Fail %
            </div>
            <div class="bans-card screenedCard">
                <div class="bans-card-data">
                    <span id="globalScreened"></span>
                </div>
                Screened
            </div>
            <div class="bans-card enrolledCard">
                <div class="bans-card-data">
                    <span id="globalEnrolled"></span>
                </div>
                Enrolled
            </div>
            <div class="bans-card enrollRateCard">
                <div class="bans-card-data">
                    <span id="globalEnrollRate"></span>
                </div>
                Enrollment Rate
            </div>
        </div>
        <div class="dashboard-screeningPlot-container">
            <hr class="header-line">
            <h4>Screening Forecast Running Total</h4>
            <div class="dashboard-areaPlot" id="screeningPlot">
            </div>
        </div>

        <div class="dashboard-enrollPlot-container">
            <hr class="header-line">
            <h4>Enrollment Forecast Running Total</h4>
            <div class="dashboard-areaPlot" id="enrollPlot">
            </div>
        </div>

        <div class="dashboard-countryScreenPlot">
            <hr class="header-line">
            <h4>Total Screened by Country</h4>
            <div id="countryScreenPlot"></div>
        </div>
        <div class="dashboard-countryScreenFailPlot">
            <hr class="header-line">
            <h4>Screen Failure % by Country</h4>
            <div id="countryScreenFailPlot"></div>
        </div>

        <div class="dashboard-countryEnrollPlot">
            <hr class="header-line">
            <h4>Total Enrolled by Country</h4>
            <div id="countryEnrolledPlot"></div>
        </div>
        <div class="dashboard-countryEnrollRatePlot">
            <hr class="header-line">
            <h4>Enrollment Rate by Country</h4>
            <div id="countryEnrolledRatePlot"></div>
        </div>
        <div class="downloadButton">
            <button class="table-button" type="button" onclick="downloadCSV()">Download Data</btn>
        </div>

        <div class="topButton" onclick="scrollUp()">
            <span style="color: #113294"><i class="fas fa-chevron-up"></i></span> <b>Top</b>
        </div></a>
    </div>
</div>
<script type=text/javascript src="{{ url_for('static', filename='bundle.min.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
    var csrf_token = "{{ csrf_token() }}";
</script>
<script type=text/javascript src="{{ url_for('static', filename='enroll.js') }}"></script>
{% endblock content2 %}
