{% extends "layout.html" %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    
{% endblock header %}    
{% block content2 %}
<div class="main-grid">
    <div class="main-section1">

    </div>
    <div class="main-section1-text">
        <h1 class="home-h1"><b>Clinical Trial Resources</b></h1><br>
        <p class="header-text">
            The intersection of data science and clinical trial management.<br>
            Developing automated resources for the modern clinical research professional.
        </p>
    </div>
    <div class="main-section2" id="projects">
        <div class="main-section2-header">
            <h2><b>Projects</b></h2>
            <hr class="header-line" style="margin-left:auto;margin-right: auto;">
        </div>
        <div class="main-section2-projects">
            <a href="{{ url_for('enrollment') }}">
                <div class="project">
                    <h3 class="home-h3">Enrollment Forecasting</h3>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock content2 %}