{% extends "layout.html" %}
{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sankey.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js" integrity="sha512-tb1Ro9mw6+HBl4AzCtyFn4G9B/TJFDfGpil98I4zDUrACJ1e1XCD6o06i3jxTVaiP0PsYGkEkLbDkCkz3p77+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock header %}    
{% block content2 %}
<form id="sankeyForm">
<div class="main-grid">
    <div class="main-section1" id="section1">
        <hr class="header-line">
        <h2><b>Study Visit Flow Visualization</b></h2><br>
 
    </div>
    <div class="main-section2">
        <div class="main-section2-header">
            <hr class="header-line">
            <h4>Step 1. Create Diagram Columns and Add Study Visits as Rows</h4>
            <br>
            <button class="section-button" type="button" onclick="addColumn()">Add Column</btn>
        </div>
        <div class="sankey-column" id="column-1">
            <b><span id="columnheader-1">Column 1</span></b>
            <button type="button" id="removecolumn-1" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeColumn(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div id="columninputs-1" style="margin-top: 1rem;margin-bottom: 1rem;">
                <input class="form-control form-control-sm columninput" name="columnInput-1-1" id="columnInput-1-1" type="text" required value="Screening" oninput="updatedFlowChoices()">
                <input class="colorinput" type="color" value="#457CD3">
            </div>
            <button class="column-button" id="addrow-1" type="button" onclick="addRow(this.id)">Add Row</btn>
            <button class="column-button" id="removerow-1" type="button" onclick="removeRow(this.id)"" style="float:right">Remove Row</btn>
        </div>
        <div class="sankey-column" id="column-2">
            <b><span id="columnheader-2">Column 2</span></b>
            <button type="button" id="removecolumn-2" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeColumn(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div id="columninputs-2" style="margin-top: 1rem;margin-bottom: 1rem;">
                <input class="form-control form-control-sm columninput" name="columnInput-2-1" id="columnInput-2-1" type="text" required value="Randomized" oninput="updatedFlowChoices()">
                <input class="colorinput" type="color" value="#2E846C">
                <input class="form-control form-control-sm columninput" name="columnInput-2-2" id="columnInput-2-2" type="text" required value="Screen Failure" oninput="updatedFlowChoices()">
                <input class="colorinput" type="color" value="#D91212">
            </div>
            <button class="column-button" id="addrow-2" type="button" onclick="addRow(this.id)">Add Row</btn>
            <button class="column-button" id="removerow-2" type="button" onclick="removeRow(this.id)"" style="float:right">Remove Row</btn>
        </div>
        <div class="sankey-column" id="column-3">
            <b><span id="columnheader-3">Column 3</span></b>
            <button type="button" id="removecolumn-3" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeColumn(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div id="columninputs-3" style="margin-top: 1rem;margin-bottom: 1rem;">
                <input class="form-control form-control-sm columninput" name="columnInput-3-1" id="columnInput-3-1" type="text" required value="Active" oninput="updatedFlowChoices()">
                <input class="colorinput" type="color" value="#A68CEE">
                <input class="form-control form-control-sm columninput" name="columnInput-3-2" id="columnInput-3-2" type="text" required value="Early Terminated" oninput="updatedFlowChoices()">
                <input class="colorinput" type="color" value="#FF7033">
            </div>
            <button class="column-button" id="addrow-3" type="button" onclick="addRow(this.id)">Add Row</btn>
            <button class="column-button" id="removerow-3" type="button" onclick="removeRow(this.id)"" style="float:right">Remove Row</btn>
        </div>
    </div>
    <div class="main-section3" id="section3">
        <div class="main-section3-header">
            <hr class="header-line">
            <h4>Step 2. Create Flows of Subjects Between Study Visits</h4>
            <br>
            <button class="section-button" type="button" onclick="addFlow()">Add Flow</btn>
        </div><br>
        <div class="flow-column" id="flowcolumn-1">
            <b><span id="flowheader-1">Flow 1</span></b>
            <button type="button" id="removeflow-1" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeFlow(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div class="marginbottom" style="margin-top: 1rem;">
                From
                <select id="flowFrom-1" class="form-control form-control-sm flowinput-from" onchange="updateToChoices(this.id,this.value)">
                    <option value="Screening">Screening</option>
                    <option value="Randomized">Randomized</option>
                    <option value="Screen Failure">Screen Failure</option>
                </select>
            </div>
            <div class="marginbottom">
                To
                <select id="flowTo-1" class="form-control form-control-sm flowinput-to">
                    <option value="Randomized" selected>Randomized</option>
                    <option value="Screen Failure">Screen Failure</option>
                    <option value="Active">Active</option>
                    <option value="Early Terminated">Early Terminated</option>
                </select>
            </div>
            <div class="marginbottom">
                # Subjects
                <input id="flowCount-1" class="form-control form-control-sm flowinput-total" type="number" min="1" value="80">
            </div>
            <div>
                Color:
                <input id="flowColor-1" class="flowinput-color" type="color" value="#F2F2F2" style="float:right;">
            </div>
        </div>
        <div class="flow-column" id="flowcolumn-2">
            <b><span id="flowheader-2">Flow 2</span></b>
            <button type="button" id="removeflow-2" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeFlow(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div class="marginbottom" style="margin-top: 1rem;">
                From
                <select id="flowFrom-2" class="form-control form-control-sm flowinput-from" onchange="updateToChoices(this.id,this.value)">
                    <option value="Screening">Screening</option>
                    <option value="Randomized">Randomized</option>
                    <option value="Screen Failure">Screen Failure</option>
                </select>
            </div>
            <div class="marginbottom">
                To
                <select id="flowTo-2" class="form-control form-control-sm flowinput-to">
                    <option value="Randomized">Randomized</option>
                    <option value="Screen Failure" selected>Screen Failure</option>
                    <option value="Active">Active</option>
                    <option value="Early Terminated">Early Terminated</option>
                </select>
            </div>
            <div class="marginbottom">
                # Subjects
                <input id="flowCount-2" class="form-control form-control-sm flowinput-total" type="number" min="1" value="20">
            </div>
            <div>
                Color:
                <input id="flowColor-2" class="flowinput-color" type="color" value="#F2F2F2" style="float:right;">
            </div>
        </div>
        <div class="flow-column" id="flowcolumn-3">
            <b><span id="flowheader-3">Flow 3</span></b>
            <button type="button" id="removeflow-3" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeFlow(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div class="marginbottom" style="margin-top: 1rem;">
                From
                <select id="flowFrom-3" class="form-control form-control-sm flowinput-from" onchange="updateToChoices(this.id,this.value)">
                    <option value="Screening">Screening</option>
                    <option value="Randomized" selected>Randomized</option>
                    <option value="Screen Failure">Screen Failure</option>
                </select>
            </div>
            <div class="marginbottom">
                To
                <select id="flowTo-3" class="form-control form-control-sm flowinput-to">
                    <option value="Active" selected>Active</option>
                    <option value="Early Terminated">Early Terminated</option>
                </select>
            </div>
            <div class="marginbottom">
                # Subjects
                <input id="flowCount-3" class="form-control form-control-sm flowinput-total" type="number" min="1" value="60">
            </div>
            <div>
                Color:
                <input id="flowColor-3" class="flowinput-color" type="color" value="#EBF5FF" style="float:right;">
            </div>
        </div>
        <div class="flow-column" id="flowcolumn-4">
            <b><span id="flowheader-4">Flow 4</span></b>
            <button type="button" id="removeflow-4" style="float:right; outline: none; border: none;background-color: rgba(0,0,0,0)" onclick="removeFlow(this.id)"><i class="fas fa-times xbutton"></i></button>
            <div class="marginbottom" style="margin-top: 1rem;">
                From
                <select id="flowFrom-4" class="form-control form-control-sm flowinput-from" onchange="updateToChoices(this.id,this.value)">
                    <option value="Screening">Screening</option>
                    <option value="Randomized" selected>Randomized</option>
                    <option value="Screen Failure">Screen Failure</option>
                </select>
            </div>
            <div class="marginbottom">
                To
                <select id="flowTo-4" class="form-control form-control-sm flowinput-to">
                    <option value="Active">Active</option>
                    <option value="Early Terminated" selected>Early Terminated</option>
                </select>
            </div>
            <div class="marginbottom">
                # Subjects
                <input id="flowCount-4" class="form-control form-control-sm flowinput-total" type="number" min="1" value="20">
            </div>
            <div>
                Color:
                <input id="flowColor-4" class="flowinput-color" type="color" value="#FFE5E5" style="float:right;">
            </div>
        </div>
    </div>
    <div class="main-section4">
        <div class="main-section4-header">
            <hr class="header-line">
            <h4>Step 3. Customize Diagram Settings</h4>
        </div>
        <div class="main-section4-data">
            <div class="chartTitle">
                Chart Title
                <input id="chartTitle" name="chartTitle" class="form-control form-control-sm marginbottom" type="text" style="width: 100%;" value="Study Recruitment Flow">
            </div>
            <div class="chartTitleSize">
                Title Font Size
                <input id="chartTitleSize" name="chartTitleSize" class="form-control form-control-sm marginbottom" type="number" style="width: 100px;" required value="24" min="12" max="36">
            </div>
            <div class="chartTitleColor">
                Title Font Color
                <input id="chartTitleColor" name="chartTitleColor" class="form-control form-control-sm marginbottom" type="color" style="width: 100px;" value="#000000">
            </div>
            <div class="chartLabelSize">
                Label Font Size
                <input id="chartLabelSize" name="chartLabelSize" class="form-control form-control-sm marginbottom" type="number" style="width: 100px;" required value="16" min="12" max="36">
            </div>
            <div class="chartBgColor">
                Chart Background Color
                <input id="chartBgColor" name="chartBgColor" class="form-control form-control-sm marginbottom" type="color" style="width: 100px;" value="#ffffff">
            </div>
            <div class="chartColumnWidth">
                Column Widths
                <input id="chartColumnWidth" name="chartColumnWidth" class="form-control form-control-sm marginbottom" type="number" style="width: 100px;" required value="20" min="5" max="40">
            </div>
        </div>
    </div>
    <div class="main-section5" id="section5">
        <div class="main-section5-header">
            <hr class="header-line">
            <h4>Step 4. Update and Visualize</h4>
            <br>
            <button class="section-button" type="button" onclick="updateSankey()">Update Chart</btn>
            <button class="section-button" type="button" onclick="downloadSankey()" style="margin-left: 50px;">Download Image</btn>
        </div>
        <div class="sankey-plot" id="sankeyPlot">
            
        </div>
    </div>
    <div class="topButton" onclick="scrollUp()">
        <span style="color: #113294"><i class="fas fa-chevron-up"></i></span> <b>Top</b>
    </div>
</div>
</form>
<script type=text/javascript src="{{ url_for('static', filename='bundle.min.js') }}"></script>
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>
<script type=text/javascript src="{{ url_for('static', filename='sankey.js') }}"></script>
{% endblock content2 %}